<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define the root logger with console and file appenders -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <!-- Kafka UI specific logging levels -->
    <logger name="kafka" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.apache.kafka" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.apache.zookeeper" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <!-- Enable debug logging for SSL transport layer and AdminClient -->
    <logger name="org.apache.kafka.common.network.SslTransportLayer" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.apache.kafka.clients.admin.KafkaAdminClient" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <!-- Additional Kafka Logging for SASL/GSSAPI -->
    <logger name="org.apache.kafka.common.security" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.apache.kafka.common.security.authenticator" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.apache.kafka.common.security.kerberos" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.apache.kafka.common.security.kerberos.KerberosLoginModule" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.apache.kafka.common.security.authenticator.SaslServerAuthenticator" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.apache.kafka.common.security.plain.PlainLoginModule" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.apache.kafka.common.security.scram.ScramLoginModule" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <!-- Define the stdout appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Define the file appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/lib/kafka-ui/logs/kafka-ui.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover -->
            <fileNamePattern>/var/lib/kafka-ui/logs/kafka-ui.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%date{ISO8601}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

</configuration>
