export const environment = {
  production: {{ if (gt (atoi .Env.DEBUG) 0) }}false{{ else }}true{{ end }},
  docsUrl: "{{ .Env.DOCS_URL }}",
  docsFaqsAuthUrl: "{{ .Env.DOCS_URL }}/faqs.html#what-should-i-fill-in-for-auth-username-and-auth-password",
  appVersion: "{{ .Env.APP_VERSION }}",
  apiHref: "/api"
};
