<?xml version="1.0" encoding="UTF-8"?>
<!--
  Enhanced Logback Configuration for Comprehensive Logging

  Captures detailed logs for ZooKeeper, SASL/GSSAPI, JGSS, SSL, TLS, and JVM processes.
-->
<configuration>
  
  <!-- Define properties for easy configuration -->
  <property name="zookeeper.console.threshold" value="DEBUG" />
  
  <property name="zookeeper.log.dir" value="/logs" />
  <property name="zookeeper.log.file" value="zookeeper.log" />
  <property name="zookeeper.securitylog.file" value="zookeeper_security.log" />
  <property name="zookeeper.auditlog.file" value="zookeeper_audit.log" />
  
  <property name="zookeeper.log.threshold" value="TRACE" />
  <property name="zookeeper.securitylog.threshold" value="DEBUG" />
  <property name="zookeeper.auditlog.threshold" value="INFO" />
  
  <property name="zookeeper.log.maxfilesize" value="256MB" />
  <property name="zookeeper.log.maxbackupindex" value="20" />
  
  <!-- Console Appender -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} [myid:%X{myid}] - %-5level [%thread:%class{1}@%line] - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>${zookeeper.console.threshold}</level>
    </filter>
  </appender>
  
  <!-- Rolling File Appender for General Logs -->
  <appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${zookeeper.log.dir}/${zookeeper.log.file}</file>
    <encoder>
      <pattern>%d{ISO8601} [myid:%X{myid}] - %-5level [%thread:%class{1}@%line] - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>${zookeeper.log.threshold}</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeBasedRollingPolicy">
      <maxFileSize>${zookeeper.log.maxfilesize}</maxFileSize>
      <fileNamePattern>${zookeeper.log.dir}/${zookeeper.log.file}.%i</fileNamePattern>
      <maxHistory>${zookeeper.log.maxbackupindex}</maxHistory>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>${zookeeper.log.maxfilesize}</maxFileSize>
    </triggeringPolicy>
  </appender>
  
  <!-- File Appender for Security Logs -->
  <appender name="SECURITYFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${zookeeper.log.dir}/${zookeeper.securitylog.file}</file>
    <encoder>
      <pattern>%d{ISO8601} [SECURITY] [myid:%X{myid}] - %-5level [%thread:%class{1}@%line] - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>${zookeeper.securitylog.threshold}</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeBasedRollingPolicy">
      <maxFileSize>100MB</maxFileSize>
      <fileNamePattern>${zookeeper.log.dir}/${zookeeper.securitylog.file}.%i</fileNamePattern>
      <maxHistory>10</maxHistory>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>100MB</maxFileSize>
    </triggeringPolicy>
  </appender>
  
  <!-- Rolling File Appender for Audit Logs -->
  <appender name="AUDITFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${zookeeper.log.dir}/${zookeeper.auditlog.file}</file>
    <encoder>
      <pattern>%d{ISO8601} [AUDIT] %-5level [%thread:%class{1}@%line] - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>${zookeeper.auditlog.threshold}</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${zookeeper.log.dir}/${zookeeper.auditlog.file}.%d{yyyy-MM-dd}.%i</fileNamePattern>
      <maxHistory>30</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>
  
  <!-- Trace File Appender for Detailed Logs -->
  <appender name="TRACEFILE" class="ch.qos.logback.core.FileAppender">
    <file>${zookeeper.log.dir}/zookeeper_trace.log</file>
    <encoder>
      <pattern>%d{ISO8601} [TRACE] [myid:%X{myid}] - %-5level [%thread:%class{1}@%line] - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>TRACE</level>
    </filter>
  </appender>
  
  <!-- Logback Audit Logger -->
  <logger name="org.apache.zookeeper.audit.Slf4jAuditLogger" additivity="false" level="INFO">
    <appender-ref ref="AUDITFILE" />
  </logger>
  
  <!-- Loggers for ZooKeeper Components -->
  <logger name="org.apache.zookeeper" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="org.apache.zookeeper.server" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="org.apache.zookeeper.common" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="org.apache.zookeeper.client" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="org.apache.zookeeper.data" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="org.apache.zookeeper.txn" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="org.apache.zookeeper.watcher" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="org.apache.zookeeper.ZooKeeper" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <!-- Loggers for Quorum and Connection Managers -->
  <logger name="org.apache.zookeeper.server.quorum" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="org.apache.zookeeper.server.quorum.QuorumPeer" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="org.apache.zookeeper.server.quorum.QuorumCnxManager" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="org.apache.zookeeper.server.quorum.FastLeaderElection" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="org.apache.zookeeper.server.NIOServerCnxn" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="org.apache.zookeeper.server.NettyServerCnxnFactory" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="org.apache.zookeeper.common.X509Util" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <!-- Loggers for SASL/GSSAPI and Security -->
  <logger name="sun.security.jgss" level="DEBUG" additivity="false">
    <appender-ref ref="SECURITYFILE" />
  </logger>
  
  <logger name="org.ietf.jgss" level="DEBUG" additivity="false">
    <appender-ref ref="SECURITYFILE" />
  </logger>
  
  <logger name="javax.net.ssl" level="DEBUG" additivity="false">
    <appender-ref ref="SECURITYFILE" />
  </logger>
  
  <logger name="org.apache.zookeeper.common.SslUtil" level="TRACE" additivity="false">
    <appender-ref ref="SECURITYFILE" />
  </logger>
  
  <logger name="org.apache.zookeeper.server.SslServerCnxnFactory" level="TRACE" additivity="false">
    <appender-ref ref="SECURITYFILE" />
  </logger>
  
  <logger name="org.apache.hadoop.security" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="org.apache.commons.logging" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="java.security" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="java.security.auth" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="java.lang" level="DEBUG" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="java.util.logging" level="DEBUG" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <!-- Healthcheck specific logging -->
  <logger name="org.apache.zookeeper.healthcheck" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <logger name="org.apache.zookeeper.healthcheck.HealthCheck" level="TRACE" additivity="false">
    <appender-ref ref="ROLLINGFILE" />
  </logger>
  
  <!-- Audit Logging -->
  <logger name="org.apache.zookeeper.audit" level="TRACE" additivity="false">
    <appender-ref ref="AUDITFILE" />
  </logger>
  
  <!-- Root logger configuration -->
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="ROLLINGFILE" />
  </root>
  
</configuration>
